<!--
	This HTML file is base of all HTML files in Task Manager
-->
<html><head>
{% block head %}{% endblock %}
<title>New Flask App</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/static/favicon.ico">
<body bgcolor=#d3d3d3>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/main.css">
<link rel="stylesheet" href="/static/popup.css">
<link rel="stylesheet" href="/static/navbar.css">
<!-- <link rel="stylesheet" href="/static/default.css"> -->
<link rel="stylesheet" href= "/static/tangerine">
<link href= "/static/merienda" rel='stylesheet'>

<script src='/static/goto.js'></script>
</head>

<body>

	<div class="navbar">
		<a class="active" href="/">Home</a>
		<a href="/add">New Task</a>
		<a href="/add_name">Add Task Name</a>
		<a href="/progress">Progress</a>
		<div class="dropdown">
		<button class="dropbtn" onclick="myFunction()">Dropdown
		  <i style="font-size: 15px;">▼</i>
		</button>
		<div class="dropdown-content" id="myDropdown">
			<a href='/delete/account' onclick="return confirm('Are you sure ?')">Delete Account</a>
			<a href="/logout">Logout</a>
		</div>
		</div> 
	  </div>

<center>
<div style="padding:20px;margin-top:30px">
<h1>
<div class="fon"> Created by Shail </div>
{% if username %}
	<div class="fon">Hi, {{username}}</div>
{% endif %}
</h1>
<font color="red"><h1>Python</h1></font><br>
{% block body %}{% endblock %}
</div>
<center>
	<script>
		/* When the user clicks on the button, 
		toggle between hiding and showing the dropdown content */
		function myFunction() {
			document.getElementById("myDropdown").classList.toggle("show");
		}
		
		// Close the dropdown if the user clicks outside of it
		window.onclick = function(e) {
		  if (!e.target.matches('.dropbtn')) {
		  var myDropdown = document.getElementById("myDropdown");
			if (myDropdown.classList.contains('show')) {
			  myDropdown.classList.remove('show');
			}
		  }
		}
		</script>
</body></html>
